:root {
  --square-side: 80px;
  --img-side: 60px;
  --board-border: 5px solid #8b4513;
  --white-square-color: #f0d9b5;
  --black-square-color: #b58863;
  --selected-square-border: 5px solid #50c878;
  --guide-square-background-mix: #6bbbe3;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.chessboard {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  border: var(--board-border);
}

.row {
  display: flex;
}

.square {
  width: var(--square-side);
  height: var(--square-side);
  border: 10px solid transparent;
}

.square-wrapper {
  position: relative;
  display: inline-block;
}

.black-square {
  background-color: var(--black-square-color);
}

.white-square {
  background-color: var(--white-square-color);
}

.possible-move-black {
  background-color: color-mix(
    in srgb,
    var(--black-square-color),
    var(--guide-square-background-mix) 50%
  );
}

.possible-move-white {
  background-color: color-mix(
    in srgb,
    var(--white-square-color),
    var(--guide-square-background-mix) 50%
  );
}

.piece-img {
  position: static;
  width: var(--img-side);
  height: var(--img-side);
}

.turn-info {
  display: flex;
  gap: 5px;
}

.turn-info-img {
  width: 12px;
  height: auto;
}

.selected {
  border: var(--selected-square-border);
  padding: 5px;
}

.row-index {
  position: absolute;
  color: darkslategray;
  top: 0;
  left: 5px;
  font-size: 1.2rem;
}

.column-index {
  position: absolute;
  color: darkslategray;
  bottom: 0;
  right: 5px;
  font-size: 1.2rem;
}

.coords-black {
  font-weight: bolder;
  color: var(--black-square-color);
}

.coords-white {
  font-weight: bolder;
  color: var(--white-square-color);
}
