.move-history {
  display: flex;
  width: 250px;
  max-height: 650px;
  overflow-y: auto;
  flex-direction: column;
  background-color: #888;
  color: black;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.hist-row-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hist-row-wrapper > * {
  width: 33.33%;
  text-align: center;
}

.hist-row-wrapper:first-child p {
  flex-grow: 1;
  color: white;
  font-weight: bold;
}

.hist-row-wrapper:nth-child(2) {
  font-weight: 700;
}
